.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
#tv_container {
  width: 400px;
  height: 600px;
  position: relative;
}
#tv_container:after {
  content: "";
  display: block;
  background: url(".././src/assets/images/iphone.svg") no-repeat;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: -7;
  background-size: 100% 100%;
}
#tv_container video {
  position: absolute;
  top: 2px;
  right: 70px;
  z-index: -5;
  justify-content: "center";
}

.phone_video_class {
  width: 260px;
  height: 650px;
  color: black;

  /* object-fit: cover; */
}
.font_demo {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-family: "Caveat", cursive;
  font-family: "Nerko One", cursive;
  font-family: "Niconne", cursive;
  font-family: "Play", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sacramento", cursive;
}
.mobileVideoGrid {
  visibility: hidden;
  display: none;
}
.phoneViewLeftExplanation_m {
  visibility: hidden;
  display: none;
}
.phoneViewLeftExplanation_p {
  visibility: visible;
  display: block;
}

@media (max-width: 600px) {
  .VideoToHide {
    display: none;
  }
  .mobileVideoGrid {
    width: 100%;
    visibility: visible;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 10px outset #ddd;
    object-fit: cover;

    height: 100%;
  }
  .mobileVideo {
    height: "500";
    width: "50vw";
  }
  .footer {
    display: flex;
    flex-direction: row;
  }
  .phoneViewLeftExplanation_m {
    visibility: visible;
    display: block;
  }
  .phoneViewLeftExplanation_p {
    visibility: hidden;
    display: none;
    max-height: 0;
  }
}
